# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
.env/
venv/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/